<h2>Routing</h2>
<div>
     {{#link-to 'about'}}About{{/link-to}}
     {{#link-to 'products'}}Products{{/link-to}}
     {{#link-to 'products.new'}}Create New Product{{/link-to}}
 </div>
 <hr>


{{outlet}}