{{!-- <table border="1" width="50%">
    <thead></thead>
    <tbody>
        {{#each model as |c|}}
            <tr>
                <td>
                    {{c.commit.author.name}}<br/>
                    {{c.commit.message}}<br/>
                    {{#link-to 'commits.commit' c}}{{c.sha}}{{/link-to}}<br/>
                </td>
            </tr>
        {{/each}}    
    </tbody>
</table> --}}
